body {
    margin: 0;
    padding: 0%;
    height: 100vh;
    font-family: roboto;
    background-image: repeating-radial-gradient(circle at center center, rgb(31, 31, 31) 0px, rgb(35, 35, 35) 33px,rgb(26, 26, 26) 33px, rgb(26, 26, 26) 79px,rgb(20, 20, 20) 79px, rgb(20, 20, 20) 88px); background-size: 56px 56px;
    backdrop-filter: blur(3px);
}

/*Trabalhando no side bar*/
.sidebar {
    height: 100vh;
    margin: 0;
    padding: 0;
    background-color: #ffa723;
    color: black;
    width: 400px;
    border-radius: 0px 10px 10px 0px;
}

.sidebar .titulo {
    text-align: center;
    padding: 10px;
}

.sidebar .titulo h1 {
    margin: 0;
}

.sidebar hr {
    width: 95%;
    color: red;
    size: 50px;
}

.sidebar .estrada {
    padding: 5px;
    font-size: 25px;
}

.sidebar .estrada ul {
    list-style: square;
}

.sidebar .estrada ul li {
    padding: 6px;
    margin-bottom: 5px;
}
/*Trabalhando no side bar*/

/*Trabalhando no chack mark*/
.material-checkbox {
    display: flex;
    align-items: center;
    font-size: 16px;
    color: #000;
    cursor: pointer;
    font-size: large;
  }
  
  .material-checkbox input[type="checkbox"] {
    position: absolute;
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  .checkmark {
    position: relative;
    display: inline-block;
    width: 20px;
    height: 20px;
    margin-right: 12px;
    border: 2px solid #dddddd;
    border-radius: 4px;
    transition: all 0.3s;
  }
  
  .material-checkbox input[type="checkbox"]:checked ~ .checkmark {
    background-color: #50808e;
    border-color: #69a297;
  }
  
  .material-checkbox input[type="checkbox"]:checked ~ .checkmark:after {
    content: "";
    position: absolute;
    top: 2px;
    left: 6px;
    width: 4px;
    height: 10px;
    border: solid white;
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
  }
  
  .material-checkbox input[type="checkbox"]:focus ~ .checkmark {
    box-shadow: 0 0 0 2px #a3c9a8;
  }
  
  .material-checkbox:hover input[type="checkbox"] ~ .checkmark {
    border-color: #84b59f;
  }
  
  .material-checkbox input[type="checkbox"]:disabled ~ .checkmark {
    opacity: 0.5;
    cursor: not-allowed;
  }
  
  .material-checkbox input[type="checkbox"]:disabled ~ .checkmark:hover {
    border-color: #4d4d4d;
  }