body {
    margin: 0;
    padding: 0%;
    height: 100vh;
    font-family: Verdana;
    background-image: repeating-radial-gradient(circle at center center, rgb(31, 31, 31) 0px, rgb(35, 35, 35) 33px,rgb(26, 26, 26) 33px, rgb(26, 26, 26) 79px,rgb(20, 20, 20) 79px, rgb(20, 20, 20) 88px); background-size: 56px 56px;
    backdrop-filter: blur(3px);
}

.sidebar {
    height: 100vh;
    margin: 0;
    padding: 0;
    background-color: #ffa723;
    color: black;
    width: 400px;
    border-radius: 0px 10px 10px 0px;
}

.sidebar .titulo {
    text-align: center;
    padding: 10px;
}

.sidebar .titulo h1 {
    margin: 0;
}

.sidebar hr {
    width: 95%;
    color: red;
    size: 50px;
}

.sidebar .estrada {
    padding: 10px;
    font-size: 25px;
}

.sidebar .estrada ol li label input {
    display: inline-block;
    width: 20px;
    height: 20px;
    border: 1px solid #454B00;
    border-radius: 4px;
    transition: all 0.3s;
}