body {
    margin: 0;
    padding: 0%;
    height: 100vh;
    font-family: roboto;
    background-image: repeating-radial-gradient(circle at center center, rgb(31, 31, 31) 0px, rgb(35, 35, 35) 33px,rgb(26, 26, 26) 33px, rgb(26, 26, 26) 79px,rgb(20, 20, 20) 79px, rgb(20, 20, 20) 88px); background-size: 56px 56px;
    backdrop-filter: blur(3px);
    display: flex;
    align-items: center;
    justify-content: center;
}

.container {
    width: 100%;
    max-width: 400px;
    background-color: #fff;
    padding: 40px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    overflow: hidden;
}
  
.container .slider {
    width: 200%;
    position: relative;
    transition: transform ease-out 0.3s;
    display: flex;
}
  
#register_toggle {
    display: none;
}
  
.container #register_toggle:checked + .slider {
    transform: translateX(-50%);
}
  
.form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
    padding: 1.5em 3em;
    width: 50%;
}
  
.titulo {
    margin-bottom: 20px;
    color: #333;
    text-align: center;
    font-weight: 700px;
}
  
form .form_control {
    width: 100%;
    position: relative;
    overflow: hidden;
}
  
form .form_control .label {
    position: absolute;
    top: 50%;
    left: 10px;
    transition: transform ease 0.2s;
    transform: translate(0%, -50%);
    font-size: 0.75em;
    user-select: none;
    pointer-events: none;
    color: #b0b0b0;
}
  
form .form_control .input {
    width: 93%;
    color: #000;
    transition: box-shadow ease 0.2s;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
}
  
form .form_control .input:focus + .label,
form .form_control .input:valid + .label {
    transform: translate(-150%, -50%);
}
  
form button {
    width: 100%;
    padding: 10px;
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

form button:hover {
    box-shadow: 0px 0px 0px #0e0e0e, 0px 0px 0px rgb(95 94 94 / 25%), inset 3px 3px 4px #0e0e0e, inset -3px -3px 4px #5f5e5e;
    background-color: #555;
}
  
.bottom_text {
    font-size: 0.65em;
}
  
.bottom_text .swtich {
    font-weight: 700;
    cursor: pointer;
}