body {
    margin: 0;
    padding: 0%;
    height: 100vh;
    font-family: Verdana;
    background-image: repeating-radial-gradient(circle at center center, rgb(31, 31, 31) 0px, rgb(35, 35, 35) 33px,rgb(26, 26, 26) 33px, rgb(26, 26, 26) 79px,rgb(20, 20, 20) 79px, rgb(20, 20, 20) 88px); background-size: 56px 56px;
    backdrop-filter: blur(3px);
}

.container {
    width: 1140px;
    margin: 0 auto;
    display: block;
}


/*header*/
header {
    float: left;
    display: block;
    width: 100%;

    background-color: white;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
    margin-bottom: 36px;
}

nav#header {
    float: left;
    display: block;
    width: 100%;

    align-items: center;
    display: flex;
    justify-content: center;
}

nav#header ul {
    list-style: none;
    padding: 0px;
    margin: 0px;
    width: 100%;

    display: flex;
    justify-content: space-evenly;
}

nav#header ul li {
    display: inline-block;
}

nav#header ul li a {
    text-decoration: none;
    color: black;
    font-size: large;
    position: relative;

    position: relative;
    transition: 0.5s ease;
    cursor: pointer;
}

nav#header ul li a::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    height: 2px;
    width: 0;
    background-color: #ffc506;
    transition: 0.5s ease;
}

nav#header ul li a:hover {
    color: #1e1e2b;
    transition-delay: 0.5s;
}

nav#header ul li a:hover::before {
    width: 100%;
}

nav#header ul li a::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    height: 0;
    width: 100%;
    background-color: #ffc506;
    transition: 0.4s ease;
    z-index: -1;
}

nav#header a#logo {
    float: left;
    display: block;
    transition: all 0.2s;
}

nav#header a#logo:hover {
    transform: scale(1.2);
}

nav#header a#logo img {
    width: 80px;
    border-radius: 200px;
    transition: all 0.5s;
    margin-top: 10px;
    margin-bottom: 7px;
}

nav#header a#logo img:hover {
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px, rgb(51, 51, 51) 0px 0px 0px 1.5px;
}
/*header*/

/*Configuração parao para todos os cards e bloco de conteudo*/
.conteudo {
    float: left;
    display: block;
    width: 100%;
    background-color: white;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
    margin-bottom: 36px;
    border-radius: 20px;
}

.conteudo .titulo {
    display: flex;
    align-items: center;
    justify-content: center;
}

.estrada {
    align-items: center;
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 30px;
}

.card {
    box-sizing: border-box;
    width: 190px;
    height: 254px;
    background: rgba(217, 217, 217, 0.58);
    border: 1px solid white;
    box-shadow: 12px 17px 51px rgba(0, 0, 0, 0.22);
    border-radius: 17px;
    cursor: pointer;
    transition: all 0.5s;
    user-select: none;
    font-weight: bolder;
    float: left;
    align-content: end;
    text-align: center;
}

.card:hover {
    border: 1px solid black;
    transform: scale(1.05);
}

.card p {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #ffc506;
    margin: 1px;
    padding: 0px;
    border-radius: 10px;
    width: 80%;
    margin-left: 10%;
    margin-bottom: 5px;
}

.card button {
    background-color: black;
    color: white;
    border: 0px;
    border-radius: 5px;
    padding: 5px;
    cursor: pointer;
    transition: all 0.5s;
    font-size: 20px;
    margin: 10px;
}

.card button:hover {
    background-color: #ffc506;
    color: #1e1e2b;
}
/*Configuração parao para todos os cards e bloco de conteudo*/

/*Imagens*/
.card#artigos {
    background-image: url('../img/artigos.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}

.card#podcast {
    background: url(../img/podcast.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

.card#ebook {
    background: url(../img/ebook.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

.card#ferramentas { 
    background: url(../img/ferramentas.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}
/*Imagens*/

/*Botão muito louco*/
.button {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 36px;
}

.uiverse {
    position: relative;
    background: #ffc506;
    color: #000;
    margin: 10px;
    border-radius: 10px;
    width: 150px;
    height: 50px;
    font-size: 17px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: all 0.2s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    font-size: 25px;
}
  
.tooltip {
    position: absolute;
    top: 0;
    font-size: 14px;
    background: #ffffff;
    color: #ffffff;
    padding: 5px 8px;
    border-radius: 5px;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
    opacity: 0;
    pointer-events: none;
    transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}
  
.tooltip::before {
    position: absolute;
    content: "";
    height: 8px;
    width: 8px;
    background: #ffffff;
    bottom: -3px;
    left: 50%;
    transform: translate(-50%) rotate(45deg);
    transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}
  
.uiverse:hover .tooltip {
    top: -45px;
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
}
  
svg:hover span,
svg:hover .tooltip {
    text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.1);
}
  
.uiverse:hover,
.uiverse:hover .tooltip,
.uiverse:hover .tooltip::before {
    background-color: #000;
    color: #ffffff;
}
/*Botão muito louco*/

/*texto e imagems*/
.conteudo2 {
    float: left;
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    margin-bottom: 50px;
    align-items: center;
}

.texto {
    width: 40%;
}

.texto button {
    position: relative;
    background: #ffc506;
    color: #000;
    border-radius: 10px;
    width: 150px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: all 0.2s;
    font-size: 25px;
    border: 0px;
}

.texto button:hover {
    background: #000;
    color: #ffffff;
}

.imagems {
    width: 40%;
}

.imagems img {
    width: 455px;
    border-radius: 20px;
    box-shadow: 12px 17px 51px rgba(0, 0, 0, 0.22);
}
/*texto e imagems*/

/*Comentarios*/
.comentarios {
    display: flex;
    align-items: center;
    justify-content: space-around;
    float: left;
    width: 100%;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
    margin-bottom: 36px;
}

.comentario {
    display: block;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 30%;
    background-color: white;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
    border-radius: 20px;
    padding: 15px;
}

.estrelas .card {
    display: inline-block;
    width: 23%;
    margin: 1%;
    background-color: #fff;
    padding: 1em;
    box-shadow: 20px 20px 60px #bebebe;
    border-radius: 10px;
}

.estrelas:not(:checked) > input {
    position: absolute;
    appearance: none;
}
  
.estrelas:not(:checked) > label {
    float: right;
    cursor: pointer;
    font-size: 30px;
    color: #666;
}
  
.estrelas:not(:checked) > label:before {
    content: '★';
}
  
.estrelas > input:checked + label:hover,
.estrelas > input:checked + label:hover ~ label,
.estrelas > input:checked ~ label:hover,
.estrelas > input:checked ~ label:hover ~ label,
.estrelas > label:hover ~ input:checked ~ label {
    color: #e58e09;
}
  
.estrelas:not(:checked) > label:hover,
.estrelas:not(:checked) > label:hover ~ label {
    color: #ff9e0b;
}
  
.estrelas > input:checked ~ label {
    color: #ffa723;
}
/*Comentarios*/

/*Footer*/
footer {
    float: left;
    display: block;
    width: 100%;

    background-color: white;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
}

footer p {
    display: flex;
    float: left;
    margin: 0;
    padding: 0;
    margin-top: 26.5px;
}

.social{
    width: fit-content;
    height: fit-content;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    float: right;
    padding: 10px;
}
  
/* for all social containers*/
.socialContainer {
    width: 52px;
    height: 52px;
    background-color: rgb(44, 44, 44);
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    transition-duration: 1s;
}
/* instagram*/
.containerOne:hover {
    background-color: #d62976;
    transition-duration: .5s;
    border-radius: 50px;
}
/* twitter*/
.containerTwo:hover {
    background-color: #00acee;
    transition-duration: .5s;
    border-radius: 50px;
}
/* linkdin*/
.containerThree:hover {
    background-color: #0072b1;
    transition-duration: .5s;
    border-radius: 50px;
}
/* Whatsapp*/
  .containerFour:hover {
    background-color: #128C7E;
    transition-duration: .5s;
    border-radius: 50px;
}
  
.socialContainer:active {
    transform: scale(0.9);
    transition-duration: .5s;
    border-radius: 50px;
}
  
.socialSvg {
    width: 17px;
}
  
.socialSvg path {
    fill: rgb(255, 255, 255);
}
  
.socialContainer:hover .socialSvg {
    animation: slide-in-top 0.3s both;
}
  
@keyframes slide-in-top {
    0% {
      transform: translateY(-50px);
      opacity: 0;
}
  
    100% {
      transform: translateY(0);
      opacity: 1;
    }
  }
  
  